/*默认样式*/
body,
h1,
p{
	margin: 0;
}
a{
	text-decoration: none;
}
body{
	background: linear-gradient(145deg,#fafafa,#fbfbfb,#fcfcfc,#fdfdfd,#fefefe,#fff);
	overflow: hidden;
}
@keyframes balls {
	from{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}
/*头部*/
#header{
	position: absolute;
	top: 20px;
	left: 10px;
	width: 240px;
	height: 30px;
	z-index: 3;
	transition: 2s;
}
#header h1,a{
	float: left;
}
/*第一屏*/
#dot{
	position: absolute;
	right: 20px;
	top: 50%;
	width: 8px;
	height: 125px;
	z-index: 5;
	margin-top: -80px;
}
#dot span{
	display: block;
	margin-top: 30px;
	width: 8px;
	height: 8px;
	background: url(../img/dot.png);
}
#dot .onDot{
	background: url(../img/dot_on.png);
}
#footer{
	position: relative;
	z-index: 2;
}
#content{
	position: relative;
	margin: 0 auto;
	z-index: 2;
}
.title{
	width: 313px;
	height: 46px;
	background: url(../img/title.png);
	float: left;
	opacity: 0;
}
.versions{
	position: relative;
	float: right;
	margin-top: -10px;
}
.versions a{
	margin-left: 10px;
	opacity: 0;
}
.versions p{
	opacity: 0;
	position: absolute;
	bottom: -25px;
	right: 0;
	width: 216px;
	color: #888;
	font: 14px/20px '微软雅黑','Helvetica';
	text-align: center;
}
.skin{
	margin-top: 100px;
	float: left;
	width: 890px;
	height: 110px;
	background: url(../img/skin.png);
	transition: .5s;
	transform: scale(30);
	position: relative;
	top: 3000px;
	left: -4000px;
}
.skin2{
	float: left;
	width: 880px;
	height: 140px;
	background: url(../img/skin.gif);
	background-position: 0 -110px;
	transition: .5s;
	transform: scale(30);
	position: relative;
	top: 3000px;
	left: -4000px;
}
.scrolling{
	width: 128px;
	height: 54px;
    position: absolute;
    left: 50%;
    bottom: -60px;
    margin-left: -64px;
	background: url(../img/scrolling.png);
	cursor: pointer;
}
/*第二屏*/
.clock{
	width: 381px;
	height: 381px;
	position: absolute;
	top: 100px;
	left: -320px;
	background: url(../img/layer_main_gradient.png);
	transform: rotateY(180deg);
	transition: 1s;
	opacity: 0;
}
.needle{
	width: 100%;
	height: 100%;
	background: url(../img/layer_main_pointer.png);
	transform: rotateZ(-180deg);
	transition: 1s;
}
.character{
	width: 100%;
	height: 100%;
	position: absolute;
	top: -300px;
	left: -400px;
	background: url(../img/layer_main_num43.png);
	transform: rotateZ(-180deg);
	transition: 1s;
	opacity: 0;
}
.core{
	width: 306px;
	height: 384px;
	margin: 0 auto;
	background: url(../img/title1_1.png);
	position: relative;
	top: 50px;
	opacity: 0;
	transition: 2s;
	transform: scale(0.1);
}
.core p{
	position: absolute;
	left: 0;
	bottom: -50px;
	font-family: 'Helvetica';
    color: #696969;
}
/*第三屏*/
.frame{
	position: relative;
	top: 10px;
	left: 100px;
	width: 2000px;
	height: 600px;
	border: 1px solid #bebebe;
	transition: 2.5s;
	transform-origin: bottom;
	transform: rotateX(180deg) skewX(-5deg);
	background: #fff;
}
.blue{
	position: absolute;
	top: -15px;
	left: 20px;
	width: 435px;
	height: 72px;
	background: url(../img/p3ui_tab.png);
	transform: skewX(2deg);
}
.babBlue{
	position: absolute;
	top: -20px;
	left: -25px;
	width: 510px;
	height: 178px;
	background: url(../img/p3ui_shadow.png);
}
.navFrame{
	position: absolute;
	top: 100px;
	left: 0;
	width: 100%;
	height: 80px;
	background: #f3f3f3;
}
.navFrame .span1{
	position: absolute;
	top: 20px;
	left: 30px;
	width: 18px;
	height: 33px;
	background: url(../img/uiicon1.png);
}
.navFrame .span2{
	position: absolute;
	top: 20px;
	left: 110px;
	width: 18px;
	height: 33px;
	background: url(../img/uiicon2.png);
}
.navFrame .span3{
	position: absolute;
	top: 20px;
	left: 170px;
	width: 32px;
	height: 32px;
	background: url(../img/uiicon3.png);
}
.concise{
	width: 465px;
	height: 100px;
	background: url(../img/title3.png);
	position: absolute;
	top: -2000px;
	left: -130px;
	transition: 2.5s;
	transform: scale(10);
	opacity: 0;
}
.abstract{
	font: 16px '微软雅黑','Helvetica';
    color: #696969;
    position: absolute;
    top: 400px;
    left: -15px;
    transition: 7s;
    opacity: 0;
}
/*第四屏*/
.img1{
	position: absolute;
	top: -300px;
	left: -1000px;
	transition: 2.4s;
	transform: rotateY(190deg) rotateX(-190deg);
}
.img2{
	position: absolute;
	top: -300px;
	left: -1500px;
	transition: 2.2s;
	transform: rotateY(190deg) rotateX(-190deg);
}
.img3{
	position: absolute;
	top: -400px;
	left: -2000px;
	transition: 2s;
	transform: rotateY(190deg) rotateX(-190deg);
}
.img4{
	position: absolute;
	top: -210px;
	left: -1800px;
	transition: 1.7s;
	transform: rotateY(190deg) rotateX(-190deg);
}
.img5{
	position: absolute;
	top: 310px;
	left: -500px;
	opacity: 0;
	transition: 1.8s;
	transform: rotateY(90deg) scale(5);
}
.C4p{
	position: absolute;
	left: 140px;
	top: 420px;
	font: 16px '微软雅黑','Helvetica';
    color: #000;
    opacity: 0;
    transition: 7s;
}
#footer{
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding-bottom: 20px;
	font-size: 12px;
    font-family: 'Helvetica';
    color: #696969;
}
#footer .nav1{
	position: absolute;
	top: -70px;
	left: 15px;
	width: 465px;
	height: 64px;
	line-height: 32px;
	transition: 2s;
}
#footer .nav1 a{
	float: left;
	color: #000;
	margin: 0 5px;
}
#footer span{
	float: left;
	padding-left: 20px;
}
#footer .nav2{
	position: relative;
	float: right;
	padding-right: 20px;
}
#footer .nav2 a{
	float: left;
	margin: 0 7px;
	color: #000;
}
#footer em{
	float: left;
}
#footer .nav2 .versions8{
	position: absolute;
	top: -45px;
	right: 0;
}
#ball{
	transition: 4s;
}
.ball{
	position: absolute;
	top: 600px;
	right: 2000px;
	z-index: 1;
}
.ball0{
	width: 50px;
	height: 50px;
}
.ball1{
	width: 200px;
	height: 200px;
}
.ball2{
	width: 400px;
	height: 400px;
}
.ball3{
	width: 130px;
	height: 130px;
}
.ball4{
	width: 180px;
	height: 180px;
}
.ball5{
	width: 100px;
	height: 100px;
}
.ball6{
	width: 300px;
	height: 300px;
}
.ball div{
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(#e0e0e0,#e3e3e3,#e6e6e6,#e9e9e9,#ebebeb,#eee,#f0f0f0,#f3f3f3,#f6f6f6,#f9f9f9,#fbfbfb,#fff);
	animation: balls 5s linear infinite forwards;
}